node_modules
.settings
config
target
/.metadata/
.classpath
.project
VideoTikTakToe/.project
VideoTikTakToe/VideoTikTakToe-ejb_spielerverwaltung/.project
VideoTikTakToe/VideoTikTakToe-web/.project
VideoTikTakToe/VideoTikTakToe_ejb_gamecenter/.project
VideoTikTakToe/VideoTikTakToe-ear/.project
VideoTikTakToe/VideoTikTakToe-ejb_spielerverwaltung/.classpath
VideoTikTakToe/VideoTikTakToe-web/.classpath
VideoTikTakToe/VideoTikTakToe_ejb_gamecenter/.classpath
